@{
    ViewData["Title"] = "Home Page";
}

  <div class="text-center">
      <div>Welcome to the administartive panel of the parking management system!</div>
    @*<div class="report-btns">
      <div>
        <a href="https://park/ReportServer/Pages/ReportViewer.aspx?%2fParkingUsersReport&rs:Command=Render" class="report-btn current-state-btn btn btn-outline-primary" target="_blank">View Parking Current State</a>
      </div>
      <div>
        <a href="https://park/ReportServer/Pages/ReportViewer.aspx?%2fParkingLotsForPavasReport&rs:Command=Render" class="report-btn pavas-report-btn btn btn-outline-primary" target="_blank">Generate report for Pavas</a>
      </div>
    </div>*@
  </div>
