<div class="all-free-spaces-container">
  <h5 *ngIf="freeSpaces?.length !== 0">Free parking spaces</h5>
  <p *ngIf="freeSpaces?.length === 0">Currently, there are no available parking spaces.</p>
  <p-table *ngIf="freeSpaces?.length !== 0" [value]="freeSpaces" (sortFunction)="sortFn($event)" [customSort]="true" styleClass="p-datatable-striped p-datatable-responsive-demo">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="ParkingSpaceNumber">Parking space <p-sortIcon field="ParkingSpaceNumber"></p-sortIcon></th>
        <th pSortableColumn="StartDateString">Start date <p-sortIcon field="StartDateString"></p-sortIcon></th>
        <th pSortableColumn="EndDateString">End date <p-sortIcon field="EndDateString"></p-sortIcon></th>
        <th class="book-free-space-column">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <span class="p-column-title">Parking space</span>
          {{product.ParkingSpaceNumber}}
        </td>
        <td>
          <span class="p-column-title">Start date</span>
          {{product.StartDateString}}
        </td>
        <td>
          <span class="p-column-title">End date</span>
          {{product.EndDateString}}
        </td>
        <td>
          <span class="p-column-title book-button-title">Action</span>
          <button class="book-button" (click)="book(product)" [disabled]="!isParkingInfoFilled">Book</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast position="top-center"></p-toast>
